

.navbar {margin: 0;
border-radius: 0;}

.navbar-brand span {color: black;
font-size: 30px;}

#navlist a {font-size: 1.2em;  
  text-align: center;
  color: black;
  background-color: #8effc2;
}

#kkk {color: black;
}


#chickenz {background-color: #8effc2;
margin: 15px;}

#chickenz h4 {text-align: center;}


#beef {background-color: #8effc2;
margin: 15px;}

#beef h4 {text-align: center;}

#sushi {background-color: #8effc2;
margin: 15px;}

#sushi h4 {text-align: center;}sushi